* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a{
  text-decoration: none;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/* End of CSS reset */

div{
  margin:auto;
}

#cube1{
  position:absolute;
  top: 10px;
  left: 10px;
  width: 400px;
  height: 400px;
  background-color: #CAF0F8;

}

#cube2{
  width: 380px;
  height: 380px;
  background-color: #ADE8F4;
 
}

#cube3{
  width: 360px;
  height: 360px;
  background-color: #90E0EF;
 
}

#cube5{
  width: 340px;
  height: 340px;
  background-color: #00B4D8;

}

#cube6{
  width: 320px;
  height: 320px;
  background-color: #0096C7;
}

#cube7{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
  background-color: #0077B6;

}

#cube8{
  width: 280px;
  height: 280px;
  background-color: #023E8A;
}

#cube9{
  width: 260px;
  height: 260px;
  background-color: #03045E;
}

#cube10{
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 240px;
  background-color: #010118;
}

section{
  position: relative;
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #023E8A;
}

section button{
  position: absolute;
  right: 30px;
  bottom: 30px;

  width: 200px;
  height: 60px;

  background-color: #0096C7;
}
