* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a{
  text-decoration: none;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/* End of CSS reset */

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200px;
}

section {
  min-height: 100vh;
}

section.image-holder {
  height: 100vh;
  overflow: hidden;
}

section.image-holder img {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;  /* ez csak akkor ha adtunk width es heigtet */
 /*  background-image:url(switzerland.jpeg) */
}

section.image-holder button {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200px;
  height: 60px;
  border-radius: 40px;
  margin: 40px 0;    /* ez azert h legyen eltartas a szeletol */
  transform: translateX(-50%);  /* ez csak sz X tengely */
  background-color: #09CED9;
}

section.image-holder h1{
  position: relative;
  top: 0;
  left: 0;
  margin: 40px;
  font-size: 100px;
  font-family: 'Roboto', sans-serif;
}

#about {
  min-height: unset;
  background-color: #c5c7c9;
}

#about article{
  width: 100%;
  max-width: 400px;
  padding: 80px 20px;
  margin: 0 auto;
}

#about h2{
  padding-bottom: 20px;
}


